<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- which provider? -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!-- <add key="provider" value="System.Data.OleDb"/> -->
  </appSettings>
  <connectionStrings>
  <!-- which connection string? -->
    <add name="AutoLotSqlProvider" connectionString="Data Source=BLUE-PC;Initial Catalog=AutoLot;Integrated Security=True"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCLI11;Data Source=BLUE-PC\mssqllocaldb;Integrated Security=SSPI;Initial Catalog=AutoLot"/>
    <!-- <add name="AutoLotOleDbProvider" connectionString="Provider=SQLNCLI11;Data Source=(localdb)\mssqllocaldb;Integrated Security=SSPI;Initial Catalog=AutoLot"/> -->
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>