<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- which provider? -->
    <add key="provider" value="System.Data.SqlClient"/>
    <!--<add key="provider" value="System.Data.OleDb"/>-->
    <!-- which connection string? -->
    <add key="connectionString" value="Data Source=BLUE-PC;Initial Catalog=AutoLot;Integrated Security=True"/>
    <!-- <add key="connectionString" value="Provider=SQLNCLI11;Data Source=(localdb)\mssqllocaldb;Integrated Security=SSPI;Initial Catalog=AutoLot"/> -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>